.navbar{
    margin: 2vh 4vw;
    padding-bottom: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--grey);
}

.login-links {
    display: flex;
    align-items: right;
    margin: 5px;
}

.logo{
    display: flex;
    align-items: center;
    color: var(--red);
    font-weight: bold;
    margin-left: 10px;
}

.logo:hover{
    border-bottom: solid 1px var(--grey) ;
}

#profile-img img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50px;
    object-fit: cover;
}

#profile-dropdown{
    color: var(--red);
}

.user-link-button{
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    /* background-color: var(--red); */
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    margin-top: 7px;
    margin-right: 10px;
    border: none;
}

/*search bar CSS*/
#search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dddddd;
    border-radius: 20px;
    min-width: 28vw;
    margin-bottom: 2px;
    /* cursor: pointer; */
    height: 42px;
}

#search-bar:hover{
    /* box-shadow: 0 2px 5px grey; */
    border-color: var(--red);
}

#start-your-search{
    width: 100%;
    font-size: 15px;
    margin-left: 20px;
    border: none;
}

#start-your-search :hover, :focus{
    outline: none;
}

#search-bar-icon{
    font-size: 19px;
}


/*transition for the icon to have grey bar below (per Abbey help)*/
