#auth-errors{
    display: flex;
    justify-content: center;
}

#auth-error{
    color: lightcoral;
    font-size: small;
}

#login-signup-on-form{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    min-width: 30vw;
}

.login-signup-item-container{
    padding: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

/*from zillow homepage*/
.login-signup-item{
    /* border-radius: 5px;
    font-size: large;
    padding: 3px 15px; */

    appearance: none;
    width: 100%;
    margin: 0px;
    padding: 9px 16px;
    background-color: rgb(246, 246, 250);
    border: 1px solid rgb(209, 209, 213);
    border-radius: 4px;
    box-sizing: border-box;
    caret-color: #dc1262;
    cursor: text;
    outline: none;
    box-shadow: none;
    color: rgb(42, 42, 51);
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    height: auto;
}

.login-signup-item:hover{
    border-color: #dc1262;
}

#login-signup-submit-button{
    width: 100%;
    height: 45px;

    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    background-color: #dc1262;
    color: white;
    cursor: pointer;
    font-size: large;
    margin-bottom: 20px;
}
